html {
  font-size: 22px;
}
@media (max-width: 900px) {
  html { font-size: 24px; }
}
@media (max-width: 400px) {
  html { font-size: 28px; }
}

body{
	font-family: Timeless, Lucida;
	src: url("../fonts/Timeless.ttf")
	}

a:link {color:#000000;}   
a:visited {color:#000000;} 
a:hover {color:#D3D3D3;}   
a:active {color:#C2C2C2;}   

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}

p: {color: #000000;}

a: {padding: 10%;
	}

img {
    max-width: 100%;
    max-height: 100%;
}

#logo{
	padding: 1%;
  	text-align: center;
}

#links{
	text-align: center;
	padding: 1%;
	}
	
#cover{
	display: block;
    margin-left: auto;
    margin-right: auto;
	max-width: 900px;
	padding-top: 1%;
	}

