html {
  font-size: 16px;
}
@media (max-width: 900px) {
  html { font-size: 17px; }
}

@media (max-width: 500px) {
  html { font-size: 17px; }
  #logo img {width: 300px; height: 83px;}
  #exhibit img{width: 300px; height:300px;}
}

@media (max-width: 750px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media (max-width: 750px) {
	.span_2_of_2 {
		width: 100%; 
	}
	.span_1_of_2 {
		width: 100%;
	}
}


body{
	font-family: Arial;
	margin-top: 0px;
	}

a:link {color:#000000;}   
a:visited {color:#000000;} 
a:hover {color:#D3D3D3;}   
a:active {color:#C2C2C2;}   

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}

a: {
	padding: 10%;
	}

p: {
	color: #000000;
	text-align: center;
	-webkit-margin: 0;
	}


img {
    max-width: 100%;
    max-height: 100%;
	}

.italic{ 
  	font-style: italic; 
	}

#logo{
	padding-bottom: .5%;
  	text-align: center;
}

#links{
	text-align: center;
	padding-bottom: 2%;
	}
	
span{
	font-size: 11px;
	}
#essay{
	text-align: center;
	}	

#cover{
	display: block;
    margin-left: auto;
    margin-right: auto;
	max-width: 900px;
	padding-top: 1%;
	}

#upcoming{
	display: block;
	text-align: center;
	padding-bottom: 1%;
	}
	
#archive1{
	display: block;
	text-align: center;
	padding-bottom: 2%;
	}
	
#archive2{
	display: block;
	text-align: center;
	padding-top: 2%;
	}

#archivetext{
	display: block;
	text-align: center;
	}

/*  mailchimp subscribe  */

#mc_embed_signup{
	font-family: Timeless;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	}
	
#mc-field-group{
	text-align: center;
	font-family: Timeless;
	}

#mc_embed_signup_scroll{
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	-webkit-margin-before: .5em;
	-webkit-margin-after: .5em;
	}
	
#mce_EMAIL{
	padding: 1em;
	}
	
/*  exhibit slides  */
	
	
#wrapper {
  float: left;
  width: 100%;
  margin-bottom: 50px;
  }

#wrapper {
  float: left;
  width: 100%;
  margin-bottom: 50px;
  }

h1 {
  font: 600 28px/36px sans-serif;
  margin: 50px 0;
  }

h3 {
  font: 600 18px/24px sans-serif;
  color: #999;
  margin: 0 0 20px;
  }

a {
  color: #222;
  }

.rslides {
  margin: 0 auto;
  }

.rslides_container {
  margin-bottom: 50px;
  position: relative;
  float: left;
  width: 100%;
  }

.centered-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left: 0;
  opacity: 0.7;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("themes.gif") no-repeat left top;
  margin-top: -45px;
  }

.centered-btns_nav:active {
  opacity: 1.0;
  }

.centered-btns_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }

.transparent-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 0;
  left: 0;
  display: block;
  background: #fff; /* Fix for IE6-9 */
  opacity: 0;
  filter: alpha(opacity=1);
  width: 48%;
  text-indent: -9999px;
  overflow: hidden;
  height: 91%;
  }

.transparent-btns_nav.next {
  left: auto;
  right: 0;
  }


.large-btns_nav:active {
  opacity: 1.0;
  }

.large-btns_nav.next {
  left: auto;
  background-position: right 50%;
  right: 0;
  }

.centered-btns_nav:focus,
.transparent-btns_nav:focus,
.large-btns_nav:focus {
  outline: none;
  }

.centered-btns_tabs,
.transparent-btns_tabs,
.large-btns_tabs {
  margin-top: 10px;
  text-align: center;
  }

.centered-btns_tabs li,
.transparent-btns_tabs li,
.large-btns_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
  }

.centered-btns_tabs a,
.transparent-btns_tabs a,
.large-btns_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0,0,0, .2);
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  width: 9px;
  height: 9px;
  }

.centered-btns_here a,
.transparent-btns_here a,
.large-btns_here a {
  background: #222;
  background: rgba(0,0,0, .8);
  }

